DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_DIALECT=
UPLOAD_LINK=https://example.com
UPLOAD_KEY=example
EMAIL_SERVICE=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_SECURE=