[Unit]
Description=ElectricS01-Website-Backend Service

[Service]
Type=simple
WorkingDirectory=/var/www/html/electrics01-website-backend
ExecStart=npm run prod
Restart=always
RestartSec=10
